.checkbox {
    margin-left: -180px;
    font-weight: 650;
}

.account {
    padding-right: 130px;
    color: rgba(1, 77, 209, 0.615);
}

.accc {
  color: rgba(1, 77, 209, 0.615);
  text-decoration: none;
}
